<% content_for(:html_title) {"Article - #{@article.title}"} %>

<h1 class="govuk-heading-l"><%= @article.title %></h1>

<p class="govuk-body"><%= @article.body %></p>

<% if authenticated?  %>
  <ul class="govuk-list">
    <li><%= link_to "Edit", edit_article_path(@article), class: "govuk-link" %></li>
    <li><%= button_to "Destroy", @article, method: :delete, class: "govuk-button govuk-button--warning" %></li>
  </ul>
<% end %>

<h2 class="govuk-heading-m">Comments</h2>
<%= render @article.comments %>

<% if authenticated?  %>
  <h2 class="govuk-heading-m">Add a comment:</h2>
  <%= render "comments/form", article: @article, comment: @new_comment %>
<% end %>