<h1 class="govuk-heading-l">Update your password</h1>

<%= render "flash-alert" %>

<%= form_with url: password_path(params[:token]), method: :put do |form| %>
  <%= tag.div class: ["govuk-form-group"] do %>
    <h2 class="govuk-label-wrapper">
      <%= form.label :password, class: "govuk-label govuk-label--m" %>
    </h2>
    <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "govuk-input" %><br>
  <% end %>
  <%= tag.div class: ["govuk-form-group"] do %>
    <h2 class="govuk-label-wrapper">
      <%= form.label :password_confirmation, class: "govuk-label govuk-label--m" %>
    </h2>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "govuk-input" %><br>
  <% end %>
  <%= form.submit "Save", class: "govuk-button" %>
<% end %>
