<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="utf-8">
  <title>GOV.UK - <%= yield(:html_title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">

  <%= tag :link, rel: "icon", sizes: "48x48", href: asset_path("assets/images/favicon.ico") %>
  <%= tag :link, rel: "icon", sizes: "any", href: asset_path("assets/images/favicon.svg") %>
  <%= tag :link, rel: "mask-icon", href: asset_path("assets/images/govuk-icon-mask.svg"), color: "#0b0c0c" %>
  <%= tag :link, rel: "apple-touch-icon", href: asset_path("assets/images/govuk-icon-180.png") %>
  <%= tag :link, rel: "manifest", href: asset_path("assets/manifest.json") %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", type: "module" %>
</head>
<body class="govuk-template__body">
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <%= render "layouts/govuk-header-logo" %>
  </div>
</header>
<div class="govuk-width-container">
  <%= render "breadcrumbs" %>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= yield %>
      </div>
    </div>
  </main>
</div>
<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <%= render "layouts/govuk-footer-logo" %>
        <span class="govuk-footer__licence-description">
            All content is available under the
            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
          © Crown copyright
        </a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
